#### FOR LOOP

In [1]:
lst = [1,2,3,4,5]
for x in lst:
    print(x)

1
2
3
4
5

In [2]:
name= "yash"
for x in name :
    print(x)

y
a
s
h

In [ ]:

for x in range(2,22,2):
print(x)

IndentationError: expected an indented block after 'for' statement on line 2 (709944464.py, line 3)

In [11]:
dct = {
    "name":"yash",
    "age":24,
    "phone":123
}
for item in dct.items():
 print (item)

('name', 'yash')
('age', 24)
('phone', 123)

In [15]:
name = "America"
ct=0
for i in name:
    if(i=='a' or i=='e'or i=='i'or i=='o'or i=='u'):
        ct+=1
        print(ct)

1
2
3

In [19]:
#While Codition 
x=1
while x<=5:
    print(x)
    x+=1

1
2
3
4
5